// seccion nosotros mobile first
$tablet: "min-width: 481px";
$tabletxl: "min-width: 768px";
$laptop:"min-width: 1024px";
$monitorxl:"min-width: 2300px";


.gridNosotros
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    @media (orientation: landscape)
    {
        display: grid;
        grid-template-areas:
        "head nav"
        "imagen1 texto1"
        "imagen2 texto1"
        "separador separador"
        "imagen3 texto2"
        "imagen4 texto2"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 5% 20% 20% 5% 20% 20% 10%;
    }
}

.navNosotros
{
    display: none;
    
}

#titNosotros
{
    
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 3vh;

    h1
    {
        font-size: 3.2rem;
    }    
    @media (orientation: landscape)
    {
        grid-area: head;
    }
}

#imgMariluna
{
    background-image: url(./IMAGENES/mariluna.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0rem -2rem ;
    height: 30vh;
    width: 100vw;
    margin-bottom: 1vh;
    @media($tabletxl)
    {
        height: 50vh;
    }
    @media (orientation: landscape)
    {
        grid-area: imagen1;
    }
}

.mariluna
{
    text-align: left;
    padding-left: 1vw;

    h2
    {
        font-size: 2rem;
    }
  

}

#imgMariluna2
{
    background-image: url(./IMAGENES/imgMariluna2.jpg);
    height: 30vh;
    width: 100vw;
    background-size: cover;
    margin-top: 3vh;
    padding-left: 0;
    
    @media($tabletxl)
    {
        height: 50vh;
    }
    grid-area: imagen2;
}

.divisor
{ 
     background-color:black;
     height: 0.2rem; 
     margin: 2.5rem 0 2.5rem 0;
}


#imgDavid
{
    background-image: url(./IMAGENES/davidexpectxD.jpg);
    height: 30vh;
    width: 100vw;
    background-size:cover;
    margin-bottom: 3vh;
    @media($tabletxl)
    {
        height: 50vh;
    }
}

.david
{
    text-align: left;
    padding-left: 1vw;
    h2
    {
        font-size: 2rem;
    }
}

#imgDavid2
{
    background-image: url(./IMAGENES/programweb1.jpg);
    height: 30vh;
    width: 100vw;
    background-size: cover;
    margin-top: 3vh;
    margin-bottom: 8vh;
    @media($tabletxl)
    {
        height: 50vh;
    }
}

.dropdownNos
{
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    @media (orientation: landscape)
    {
        display: initial;
        grid-area: nav;
    }
    @media($tablet)
    {
       display: none;
    }
  
}