$landscape: "min-width: 480px";
$tablet:"min-width: 768px";
$laptop:"min-width: 1024px";
$monitor:"min-width: 1200px";

//seccion servicios mobile first
 
.servicios
{
    text-align: left;
    font-size: 3rem ;
    margin:0 0 5vh 3vw;
    line-height: 9vh;
    @media($tablet)
        {
            font-size: 4rem;
            text-align: center;
        }
}

.contFlex
{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-items: center; 
}

.contImgDiseno
{
    background-image: url(./IMAGENES/disenografico.jpeg);  
    background-size: cover;
    width: 95vw;
    height: 25vh;
    margin-left: 2.5vw;
    @media($tablet)
    {
        height: 45vh;
    }
}

#disenoGrafico
{     
    h2
    {
        text-align: left;
        font-size: 200%;
        padding-left: 2.5vw;
        @media($tablet)
        {
            font-size: 3rem;
            margin-top: 10vh;
        }
    }
    ul
    {
        padding-left: 2.5vw;
        font-size: 1rem;
        text-align: left;
        list-style: none;
        @media($tablet)
        {
            font-size: 1.5rem;;
        }
        
    }  
}

.contImgConsult
{
    background-image: url(./IMAGENES/consultoria.jpeg);  
    background-size: cover;
    width: 95vw;
    height: 25vh;
    margin-left: 2.5vw;
    @media($tablet)
    {
        height: 45vh;
    }
}


#consultoria
{   
    padding-top: 1rem;
    margin-left: 0vw;
    p
    {
        width: 95vw;
        text-align: justify;
        font-size: 1rem;
        padding-left: 2vw;
        padding-right: 1vw;
        @media($tablet)
        {
            font-size: 1.5rem;
        }
    }  
    h2
    {
        text-align: left;
        font-size: 200%;
        padding-left: 2.5vw;
        @media($tablet)
        {
            font-size: 3rem;
        }
    }    
}


.contImgWeb
{
    background-image: url(./IMAGENES/progWeb.jpeg); 
    background-size: cover;
    width: 95vw;
    height: 25vh;
    margin-left: 2.5vw;
    @media($tablet)
    {
        height: 45vh;
    }
}

#desarrolloWeb
{   padding-top: 1rem;
    margin-bottom: 5vh;
    p
    {
        width: 95vw;
        text-align: justify;
        font-size: 1rem;
        padding-left: 2vw;
        padding-right: 1vw;
        @media($tablet)
        {
            font-size: 1.5rem;
            margin-bottom: 5vh;
        }
    }    
    h2
    {
        text-align: left;
        font-size: 200%;
        padding-left: 2.5vw;
        @media($tablet)
        {
            font-size: 3rem;
            
        }
    }    
}

.navServ
{
    display: none;
    position: absolute;
    margin-top:0;
    @media($tablet)
    {
       display: flex;
       position: absolute;
       top: 7rem;
    }
    @media($laptop)
    {
       display: flex;
       position: absolute;
       top: 7rem;
    }
}

.lista1Serv
{
    @media($tablet)
    {
       width: 100vw;
       padding-left: 2rem;
       padding-right: 2rem;
       list-style: none;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       li
        {
            margin-left: 2vw;
            margin-right: 2vw;
            a
            {
                font-size: 1.3rem;
            }
            
        }
      
    }
    
}

.dropdown
{
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    @media($tablet)
    {
       display: none;
    }
}

.dropdown-menu
{
    min-width: 5rem;  
}
