html {
  height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.servicios {
  text-align: left;
  font-size: 3rem;
  margin: 1vh 0 3vh 3vw;
  line-height: 9vh;
}

@media (min-width: 480px) and (max-width: 824px) and (orientation: landscape) {
  .servicios {
    font-size: 4rem;
    text-align: center;
    margin-top: 5vh;
  }
}

@media (min-width: 481px) {
  .servicios {
    font-size: 5rem;
    text-align: center;
  }
}

@media (min-width: 2300px) {
  .servicios {
    font-size: 10rem;
  }
}

.contFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-items: center;
}

.contImgDiseno {
  background-image: url(./IMAGENES/disenografico.jpeg);
  background-size: cover;
  width: 95vw;
  height: 30vh;
  margin-left: 2.5vw;
}

@media (min-width: 480px) and (max-width: 824px) and (orientation: landscape) {
  .contImgDiseno {
    height: 55vh;
  }
}

@media (min-width: 768px) {
  .contImgDiseno {
    height: 50vh;
  }
}

@media (min-width: 1024px) {
  .contImgDiseno {
    height: 65vh;
  }
}

#disenoGrafico h2 {
  text-align: left;
  font-size: 200%;
  padding-left: 2.5vw;
}

@media (min-width: 481px) {
  #disenoGrafico h2 {
    font-size: 3rem;
    margin-top: 10vh;
  }
}

@media (min-width: 2300px) {
  #disenoGrafico h2 {
    font-size: 7rem;
    margin-top: 12vh;
  }
}

#disenoGrafico ul {
  padding-left: 3vw;
  margin-top: 1.5vh;
  font-size: 0.8rem;
  text-align: left;
  list-style: none;
}

@media (min-width: 481px) {
  #disenoGrafico ul {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  #disenoGrafico ul {
    font-size: 2rem;
  }
}

@media (min-width: 2300px) {
  #disenoGrafico ul {
    font-size: 4rem;
  }
}

.contImgConsult {
  background-image: url(./IMAGENES/consultoria.jpeg);
  background-size: cover;
  width: 95vw;
  height: 30vh;
  margin-left: 2.5vw;
}

@media (min-width: 480px) and (max-width: 824px) and (orientation: landscape) {
  .contImgConsult {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .contImgConsult {
    height: 50vh;
  }
}

@media (min-width: 1024px) {
  .contImgConsult {
    height: 65vh;
  }
}

#consultoria {
  padding-top: 1vh;
  margin-left: 0vw;
}

#consultoria p {
  width: 95vw;
  text-align: justify;
  font-size: 1rem;
  padding-left: 3vw;
  padding-right: 1vw;
  margin-top: 1.5vh;
  line-height: 2rem;
}

@media (min-width: 481px) {
  #consultoria p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  #consultoria p {
    font-size: 2rem;
  }
}

@media (min-width: 2300px) {
  #consultoria p {
    font-size: 4rem;
  }
}

#consultoria h2 {
  text-align: left;
  font-size: 200%;
  padding-left: 2.5vw;
}

@media (min-width: 481px) {
  #consultoria h2 {
    font-size: 3rem;
  }
}

@media (min-width: 2300px) {
  #consultoria h2 {
    font-size: 7rem;
    margin-top: 8vh;
  }
}

.contImgWeb {
  background-image: url(./IMAGENES/progWeb.jpeg);
  background-size: cover;
  width: 95vw;
  height: 30vh;
  margin-left: 2.5vw;
}

@media (min-width: 480px) and (max-width: 824px) and (orientation: landscape) {
  .contImgWeb {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .contImgWeb {
    height: 50vh;
  }
}

@media (min-width: 1024px) {
  .contImgWeb {
    height: 65vh;
  }
}

#desarrolloWeb {
  padding-top: 1rem;
  margin-bottom: 8vh;
}

#desarrolloWeb p {
  width: 95vw;
  text-align: justify;
  font-size: 1rem;
  padding-left: 3vw;
  padding-right: 1vw;
  margin-top: 1.5vh;
}

@media (min-width: 481px) {
  #desarrolloWeb p {
    font-size: 1.2rem;
    margin-bottom: 5vh;
  }
}

@media (min-width: 1024px) {
  #desarrolloWeb p {
    font-size: 2rem;
  }
}

@media (min-width: 2300px) {
  #desarrolloWeb p {
    font-size: 4rem;
  }
}

#desarrolloWeb h2 {
  text-align: left;
  font-size: 200%;
  padding-left: 2.5vw;
}

@media (min-width: 481px) {
  #desarrolloWeb h2 {
    font-size: 3rem;
  }
}

@media (min-width: 2300px) {
  #desarrolloWeb h2 {
    font-size: 7rem;
    margin-top: 8vh;
  }
}

.dropdown {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.dropdown-menu {
  min-width: 5rem;
}

#fserv {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6vh;
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(128, 128, 128, 0.514)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(128, 128, 128, 0.514));
  font-size: 1rem;
}

#fserv p {
  padding-top: 1vh;
}

.gridNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 480px) and (orientation: landscape) {
  .gridNosotros {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "head head" "slogan slogan" "hr hr" "imagen1 textom" "imagen2 textom" "separador separador" "imagen3 textod" "imagen4 textod" "footer footer";
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.navNosotros {
  display: none;
}

#titNosotros {
  text-align: left;
  margin-left: 3vw;
}

#titNosotros h1 {
  font-size: 3.2rem;
}

@media (min-width: 480px) and (orientation: landscape) {
  #titNosotros {
    grid-area: head;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  #titNosotros {
    text-align: center;
  }
  #titNosotros h1 {
    font-size: 4.5rem;
  }
}

#mainNosotros {
  grid-area: slogan;
  margin-right: 4vw;
  text-align: center;
  margin-top: 1vh;
}

@media (min-width: 1024px) {
  #mainNosotros {
    text-align: center;
    font-size: 2.5rem;
  }
}

#hrNos {
  margin-top: 1vh;
  margin-bottom: 3vh;
  width: 100vw;
  grid-area: hr;
}

#imgMariluna {
  background-image: url(./IMAGENES/mariluna.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem -2rem;
  height: 50vh;
  width: 100vw;
  margin-bottom: 1vh;
}

@media (min-width: 768px) {
  #imgMariluna {
    height: 60vh;
  }
}

@media (min-width: 480px) and (orientation: landscape) {
  #imgMariluna {
    grid-area: imagen1;
    height: 60vh;
    background-position: 0;
    width: 45vw;
    margin-left: 2.5vw;
  }
}

.mariluna {
  text-align: left;
  padding-left: 1vw;
}

.mariluna h2 {
  font-size: 2rem;
}

@media (min-width: 480px) and (orientation: landscape) {
  .mariluna {
    width: 50vw;
    grid-area: textom;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .mariluna h2 {
    font-size: 4rem;
    margin-bottom: 10vh;
  }
  .mariluna p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
}

@media (min-width: 1024px) {
  .mariluna {
    margin-top: 25vh;
  }
  .mariluna h2 {
    font-size: 4.8rem;
    margin-bottom: 10vh;
  }
  .mariluna p {
    font-size: 2.2rem;
    line-height: 5rem;
  }
}

#imgMariluna2 {
  background-image: url(./IMAGENES/imgMariluna2.jpg);
  height: 50vh;
  width: 100vw;
  background-size: cover;
  margin-top: 3vh;
  padding-left: 0;
}

@media (min-width: 768px) {
  #imgMariluna2 {
    height: 50vh;
  }
}

@media (min-width: 480px) and (orientation: landscape) {
  #imgMariluna2 {
    grid-area: imagen2;
    height: 60vh;
    background-position: 0;
    width: 45vw;
    margin-left: 2.5vw;
  }
}

.divisor {
  background-color: black;
  height: 0.2rem;
  margin: 2.5rem 0 2.5rem 0;
  grid-area: separador;
}

#imgDavid {
  background-image: url(./IMAGENES/davidexpectxD.jpg);
  height: 50vh;
  width: 100vw;
  background-size: cover;
  margin-bottom: 3vh;
}

@media (min-width: 768px) {
  #imgDavid {
    height: 50vh;
  }
}

@media (min-width: 480px) and (orientation: landscape) {
  #imgDavid {
    grid-area: imagen3;
    height: 60vh;
    background-position: 0;
    width: 45vw;
    margin-left: 2.5vw;
  }
}

.david {
  text-align: left;
  padding-left: 1vw;
}

.david h2 {
  font-size: 2rem;
}

@media (min-width: 480px) and (orientation: landscape) {
  .david {
    width: 50vw;
    grid-area: textod;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.david h2 {
  font-size: 4rem;
  margin-bottom: 4vh;
}

.david p {
  font-size: 1.2rem;
  line-height: 2.3rem;
}

@media (min-width: 1024px) {
  .david {
    margin-top: 25vh;
  }
  .david h2 {
    font-size: 4.8rem;
    margin-bottom: 10vh;
  }
  .david p {
    font-size: 2.2rem;
    line-height: 5rem;
  }
}

#imgDavid2 {
  background-image: url(./IMAGENES/programweb1.jpg);
  height: 50vh;
  width: 100vw;
  background-size: cover;
  margin-top: 3vh;
  margin-bottom: 8vh;
}

@media (min-width: 768px) {
  #imgDavid2 {
    height: 50vh;
  }
}

@media (min-width: 480px) and (orientation: landscape) {
  #imgDavid2 {
    grid-area: imagen4;
    height: 60vh;
    background-position: 0;
    width: 45vw;
    margin-left: 2.5vw;
  }
}

.dropdownNos {
  position: fixed;
  top: 0.5rem;
  right: 0.8rem;
}

#fnos {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6vh;
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(128, 128, 128, 0.514)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(128, 128, 128, 0.514));
  font-size: 1rem;
  grid-area: footer;
}

.d-block {
  margin-bottom: 2rem;
}

#tituloP {
  margin-bottom: 3vh;
}

#tituloP h1 {
  text-align: left;
  font-size: 3rem;
  margin-left: 5vw;
}

@media (min-width: 768px) {
  #tituloP h1 {
    text-align: center;
    font-size: 5rem;
    margin-left: 0;
  }
}

#mainPort {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

#mainPort p {
  margin: 0;
}

@media (min-width: 768px) {
  #mainPort p {
    text-align: center;
    font-size: 1.5rem;
  }
}

#subtituloPort {
  text-align: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

@media (min-width: 768px) {
  #subtituloPort {
    text-align: center;
    font-size: 3.5rem;
  }
}

.carousel-indicators {
  margin-bottom: 2rem;
}

#DGuno {
  background-image: url(./IMAGENES/portfolio/graphic/diseno1.jpg);
  background-size: contain;
  background-position: center;
  height: 78vh;
  margin-bottom: 3vh;
  background-repeat: no-repeat;
}

@media (min-width: 481px) {
  #DGuno {
    background-image: url(./IMAGENES/portfolio/graphic/disenot1.jpg);
  }
}

#DGdos {
  background-image: url(./IMAGENES/portfolio/graphic/diseno2.jpg);
  background-size: contain;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 481px) {
  #DGdos {
    background-image: url(./IMAGENES/portfolio/graphic/disenot2.jpg);
  }
}

#DGtres {
  background-image: url(./IMAGENES/portfolio/graphic/diseno3.jpg);
  background-size: contain;
  background-position: center;
  height: 78vh;
  background-repeat: no-repeat;
}

@media (min-width: 481px) {
  #DGtres {
    background-image: url(./IMAGENES/portfolio/graphic/disenot3.jpg);
  }
}

#DGcuatro {
  background-image: url(./IMAGENES/portfolio/graphic/diseno4.jpg);
  background-size: contain;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 481px) {
  #DGcuatro {
    background-image: url(./IMAGENES/portfolio/graphic/disenot4.jpg);
  }
}

#DGcinco {
  background-image: url(./IMAGENES/portfolio/graphic/diseno5.jpg);
  background-size: contain;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 481px) {
  #DGcinco {
    background-image: url(./IMAGENES/portfolio/graphic/disenot5.jpg);
  }
}

#PWuno {
  background-image: url(./IMAGENES/portfolio/webs/PWUNO.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  margin-bottom: 3vh;
  background-position: center;
  margin-bottom: 5vh;
}

@media (min-width: 481px) {
  #PWuno {
    background-image: url(./IMAGENES/portfolio/webs/Webt1.jpg);
  }
}

#PWdos {
  background-image: url(./IMAGENES/portfolio/webs/PWDOS.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  background-position: center;
  margin-bottom: 5vh;
}

@media (min-width: 481px) {
  #PWdos {
    background-image: url(./IMAGENES/portfolio/webs/Webt2.jpg);
  }
}

#PWtres {
  background-image: url(./IMAGENES/portfolio/webs/PWTRES.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  background-position: center;
  margin-bottom: 5vh;
}

@media (min-width: 481px) {
  #PWtres {
    background-image: url(./IMAGENES/portfolio/webs/Webt3.jpg);
  }
}

#PWcuatro {
  background-image: url(./IMAGENES/portfolio/webs/PWCUATRO.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  background-position: center;
  margin-bottom: 5vh;
}

@media (min-width: 481px) {
  #PWcuatro {
    background-image: url(./IMAGENES/portfolio/webs/Webt4.png);
  }
}

#PWcinco {
  background-image: url(./IMAGENES/portfolio/webs/PWCINCO.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  background-position: center;
  margin-bottom: 5vh;
}

@media (min-width: 481px) {
  #PWcinco {
    background-image: url(./IMAGENES/portfolio/webs/Webt5.jpg);
  }
}

#footerPort {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6vh;
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(128, 128, 128, 0.514)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(128, 128, 128, 0.514));
  font-size: 1rem;
}

#footerPort p {
  padding-top: 1vh;
}

#bodyContacto {
  background-color: #01011b;
  color: white;
  font-weight: bold;
  background-image: radial-gradient(black, gray, rgba(0, 0, 0, 0.308));
  background-repeat: no-repeat;
  background-size: cover;
}

.contacTitle {
  text-align: left;
  margin: 2vh 0 0 5vw;
  font-size: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 0.5rem;
}

.contST {
  margin: 1vh 0 4vh 5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 0.5rem;
}

form {
  margin-left: 5vw;
}

form label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 0.2rem;
  padding: 0 1rem 0 0.2rem;
}

input {
  min-width: 90vw;
  padding-top: 1vh;
  margin-top: 0.5vh;
  font-weight: bold;
}

.checkbox {
  min-width: 5vw;
  margin-top: 2vh;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 10px;
}

.checkboxTwo {
  min-width: 5vw;
  margin: 2vh 0 5vh 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 10px;
}

.consulta {
  margin-top: 0vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}

#mensaje {
  min-width: 90vw;
}

#botones {
  padding-bottom: 3rem;
}

#botones input {
  margin-bottom: 1vh;
}

.reset {
  background-color: #6b625c;
  padding-bottom: 1vh;
  border: none;
}

.submit {
  background-color: #a8fca8;
  padding-bottom: 1.5vh;
  border: none;
  font-weight: bold;
}

#footerCont {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6vh;
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(128, 128, 128, 0.514)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(128, 128, 128, 0.514));
  font-size: 1rem;
}

#footerCont p {
  padding-top: 1vh;
}

@media (min-aspect-ratio: 16 / 9) {
  #fondohome {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  #fondohome {
    width: auto;
    height: 100%;
  }
}

#fondohome {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.code {
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-size: 550%;
  letter-spacing: 0.2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(14, 13, 13, 0.568);
  border-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin-top: 5vh;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .code {
    font-size: 600%;
    letter-spacing: 0.9rem;
    position: fixed;
    right: 1rem;
    top: 0.5rem;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 768px) {
  .code {
    font-size: 11rem;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1024px) {
  .code {
    position: fixed;
    top: 0rem;
    right: 2.5vw;
    font-size: 12rem;
    letter-spacing: 0.9rem;
    border-bottom-right-radius: 0;
    margin-top: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 864px) and (orientation: landscape) {
  .code {
    font-size: 600%;
    letter-spacing: 0.9rem;
    position: fixed;
    right: 1rem;
    top: 0rem;
    margin-top: 1rem;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 2300px) {
  .code {
    font-size: 20rem;
  }
}

.creators {
  font-family: 'Amiri', serif;
  text-align: center;
  font-size: 150%;
  background-color: rgba(14, 13, 13, 0.568);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .creators {
    font-size: 200%;
    position: fixed;
    top: 8.6rem;
    right: 1rem;
  }
}

@media (min-width: 768px) {
  .creators {
    font-size: 3rem;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (min-width: 1024px) {
  .creators {
    position: fixed;
    top: 16rem;
    right: 2.5vw;
    font-size: 250%;
    border-top-right-radius: 0;
    padding: 0 1rem 0 1rem;
  }
}

@media (min-width: 480px) and (max-width: 864px) and (orientation: landscape) {
  .creators {
    font-size: 200%;
    position: fixed;
    top: 8rem;
    right: 1rem;
  }
}

@media (min-width: 2300px) {
  .creators {
    font-size: 5rem;
    position: fixed;
    top: 25rem;
  }
}

.campo {
  font-family: 'Roboto', sans-serif;
  font-size: 170%;
  text-align: center;
  letter-spacing: 0.5rem;
  background-color: rgba(14, 13, 13, 0.568);
  border-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin-top: 10vh;
  margin-bottom: 1vh;
}

@media (min-width: 480px) {
  .campo {
    width: 25rem;
    font-size: 240%;
  }
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .campo {
    position: fixed;
    top: 11rem;
    right: 1rem;
    width: 15rem;
    font-size: 150%;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
}

@media (min-width: 768px) {
  .campo {
    font-size: 3.5rem;
    width: 50vw;
    position: fixed;
    top: 18rem;
    right: 25vw;
  }
}

@media (min-width: 1024px) {
  .campo {
    width: 50vw;
    position: fixed;
    top: 18rem;
    right: 2.5vw;
    font-size: 3rem;
  }
}

@media (min-width: 480px) and (max-width: 864px) and (orientation: landscape) {
  .campo {
    position: fixed;
    top: 50vh;
    right: 1rem;
    width: 19rem;
    font-size: 8vh;
  }
}

@media (min-width: 2300px) {
  .campo {
    font-size: 8rem;
    position: fixed;
    top: 35rem;
    width: 45vw;
  }
}

nav {
  position: absolute;
  text-align: center;
  top: 60vh;
  width: 100vw;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  nav {
    top: 10vh;
  }
}

@media (min-width: 768px) {
  nav {
    top: 85vh;
  }
}

@media (min-width: 1024px) {
  nav {
    top: 80vh;
  }
}

@media (min-width: 480px) and (max-width: 864px) and (orientation: landscape) {
  nav {
    top: 15vh;
  }
}

.fondoNav {
  background-color: rgba(8, 8, 8, 0.568);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 3vh;
  padding: 0 2vw 0 2vw;
  border-radius: 0.5rem;
}

.fondoNav a {
  font-size: 3.2vh;
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 10vw;
  text-align: center;
  margin: 0;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .fondoNav {
    width: 20vw;
    margin-top: 6vh;
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) {
  .fondoNav {
    border-radius: 1rem;
    width: 80vw;
  }
}

.lista1 {
  padding: 0 30% 0 35%;
  margin: 0;
  list-style: none;
  text-align: center;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .lista1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5vw 0 3vw;
  }
  .lista1 li a {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .lista1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  .lista1 li {
    margin-top: 5vh;
    margin: 0 2vw 0 2vw;
    border-radius: 0.5rem;
  }
  .lista1 li a {
    padding: 1vh 1.5vw 1vh 1.5vw;
    font-size: 1.7rem;
  }
}

@media (min-width: 1024px) {
  .lista1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lista1 li {
    margin-top: 6vh;
    width: 20vw;
    border-radius: 0.5rem;
  }
}

@media (min-width: 480px) and (max-width: 864px) and (orientation: landscape) {
  .lista1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20vw;
    padding: 0 5vw 0 10vw;
  }
  .lista1 li {
    width: 15vw;
    margin-top: 7vh;
  }
  .lista1 li a {
    font-size: 1.3rem;
  }
}

@media (min-width: 2300px) {
  .lista1 li a {
    font-size: 4rem;
  }
}

#fhome {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vh;
  text-align: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(128, 128, 128, 0.514)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(128, 128, 128, 0.514));
  font-size: 2.5vh;
}

#fhome p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  #fhome p {
    font-size: 1rem;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    height: 8vh;
  }
}

@media (min-width: 480px) and (max-width: 864px) and (orientation: landscape) {
  #fhome p {
    font-size: 1.2rem;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
  }
}
/*# sourceMappingURL=styles.css.map */