//correccion margenes navegador
html{
    height: 100vh;
}
body{
    min-height: 100vh;
    margin:0;
    padding:0;
}

@import "tipografia";
@import "servicios";
@import "nosotros";
@import "portfolio";
@import "contacto";

$tablet: "min-width: 480px";
$tabletxl: "min-width: 768px";
$laptop:"min-width: 1024px";
$monitorxl:"min-width: 2300px";



//seccion home mobile first (moviles hasta 479px)
@media (min-aspect-ratio: 16/9)
{
    #fondohome
    {
        width: 100%;
        height: auto;
    }  
}
  
@media (max-aspect-ratio: 16/9)
{
    #fondohome
    {
        width: auto;
        height: 100%;
    }  
}

#fondohome
{
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    z-index: -1;
    object-fit:cover;
}

.home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.code
{
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    font-size:550% ;
    letter-spacing: 0.2rem;
    height: fit-content;
    background-color:rgba(14, 13, 13, 0.568);
    border-radius: 1rem;
    width:fit-content;
    color: white;
    margin-top: 5vh;


    @media (min-width: 480px) and (max-width:767px) and (orientation: landscape) //modo landscape celulares
    {
        font-size: 600%;
        letter-spacing: 0.9rem;
        position: fixed;
        right: 1rem;
        top: 0.5rem;
        border-bottom-right-radius: 0;
    }

    @media ($tabletxl)
    {
        font-size: 11rem;
        padding-left: 5vw;
        padding-right: 5vw;
        
    }

    @media ($laptop)
    {
        position: fixed;
        top:0rem;
        right: 2.5vw;
        font-size: 12rem ;
        letter-spacing: 0.9rem;
        border-bottom-right-radius: 0;
        margin-top: 2rem;
    
        
        
    }

    @media (min-width: 480px) and (max-width:864px) and (orientation: landscape) //modo landscape celulares xl
    {
        font-size: 600%;
        letter-spacing: 0.9rem;
        position: fixed;
        right: 1rem;
        top: 0rem;
        margin-top: 1rem;
        border-bottom-right-radius: 0;
    }
    @media ($monitorxl)
    {
        font-size: 20rem;
    }

}


.creators
{
    font-family: 'Amiri', serif;
    text-align: center;
    font-size: 150%;
    background-color:rgba(14, 13, 13, 0.568);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width:fit-content;
    color: white;

    @media (min-width: 480px) and (max-width:767px) and (orientation: landscape)
    {
        font-size:200% ;
        position: fixed;
        top: 8.6rem;
        right: 1rem;
    }

    @media ($tabletxl) 
    {
        font-size: 3rem;
        padding-left: 3vw;
        padding-right: 3vw;
        
    }
    @media($laptop)
    {
        position: fixed;
        top: 16rem;
        right: 2.5vw;
        font-size:250% ;
        border-top-right-radius:0;
        padding: 0 1rem 0 1rem;
    }
    @media (min-width: 480px) and (max-width:864px) and (orientation: landscape)
    {
        font-size:200% ;
        position: fixed;
        top: 8rem;
        right: 1rem;
    }
    @media ($monitorxl)
    {
        font-size: 5rem;
        position: fixed;
        top: 25rem;
    }

}

.campo
{
    font-family: 'Roboto', sans-serif;
    font-size: 170%;
    text-align: center;
    letter-spacing: 0.5rem;
    background-color:rgba(14, 13, 13, 0.568);
    border-radius: 1rem;
    width:fit-content;
    color: white;
    margin-top: 10vh;
    margin-bottom: 1vh;

    
    @media($tablet)
    {
        width:25rem;
        font-size: 240%;
    }

    @media (min-width: 480px) and (max-width:767px) and (orientation: landscape)
    {
        position: fixed;
        top: 11rem;
        right: 1rem;
        width:15rem;
        font-size: 150%;
        margin-bottom: 5vh;
        margin-top: 3vh;
    }

    @media ($tabletxl)
    {
        font-size: 3.5rem;
        width: 50vw;
        position: fixed;
        top: 18rem;
        right: 25vw;
        
    }

    @media($laptop)
    {
        width: 50vw;  
        position: fixed;
        top: 18rem;
        right:2.5vw;
        font-size: 3rem;
          

    }
    
    @media (min-width: 480px) and (max-width:864px) and (orientation: landscape)
    {
        position: fixed;
        top:50vh;
        right: 1rem;
        width:19rem;
        font-size: 8vh; 
    }

    @media ($monitorxl)
    {
        font-size: 8rem;
        position: fixed;
        top: 35rem;
        width: 45vw;
    }
}

nav
{
    position: absolute;  
    text-align: center;
    top: 60vh;
    width: 100vw;
    
 
    @media (min-width: 480px) and (max-width:767px) and (orientation: landscape)
    {
        top:10vh;
    }
    @media ($tabletxl)
    {
        top: 85vh;
    }
    @media($laptop)
    {
        top:80vh;
    }
    @media (min-width: 480px) and (max-width:864px) and (orientation: landscape)
    {
        top:15vh;
    }
    
}

.fondoNav

{
    background-color: rgba(8, 8, 8, 0.568);
    height: fit-content;  
    width:fit-content;
    margin-bottom: 3vh;
    padding: 0 2vw 0 2vw;
    border-radius: 0.5rem;
    
    a
    {
        font-size: 3.2vh;
        color:white;
        font-weight: bold;
        text-decoration: none;
        width: 10vw;
        text-align: center;
        margin: 0;
    }
    @media (min-width: 480px) and (max-width:767px) and (orientation: landscape)
    {
        width: 20vw;
        margin-top: 6vh;
        border-radius: 0.5rem;
    }
    @media ($tabletxl)
    {
        border-radius: 1rem;
        width: 80vw;
    }
}


.lista1
{
    
    padding: 0 30% 0 35%;
    margin: 0;    
    list-style: none;
    text-align: center;
    @media (min-width: 480px) and (max-width:767px) and (orientation: landscape)
    {
        display:flex;
        flex-direction: column;
        padding: 0 5vw 0 3vw;
        
        li
        {  
            
            a
            {
                font-size: 1.3rem;   
            }
        }
    }
    
    @media ($tabletxl)
    {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        padding: 0;
        li
        {
            margin-top: 5vh;
            margin: 0 2vw 0 2vw;
            border-radius: 0.5rem;
           
            a
            {
                padding: 1vh 1.5vw 1vh 1.5vw;
                font-size: 1.7rem;       
            }
            

        }
    }

    @media ($laptop)
    {
        display:flex;
        flex-direction: row;
        li
        {
            margin-top: 6vh;
            width: 20vw;
            border-radius: 0.5rem;
            
        }
        
    }
    @media (min-width: 480px) and (max-width:864px) and (orientation: landscape)
    {
        display:flex;
        flex-direction: column;
        width: 20vw;
        padding: 0 5vw 0 10vw;
        li
        {
            width: 15vw;
            margin-top: 7vh;
            a
            {
                font-size: 1.3rem;   
            }
        }
    }
    @media ($monitorxl)
    {   
        li{
            a
            { 
            font-size: 4rem;
            }
        }
       
    }
  
}

#fhome
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.575),rgba(128, 128, 128, 0.514));
    font-size: 2.5vh;

    p
    {
        margin-top: 1vh;
        margin-bottom: 1vh;
    
        @media (min-width: 480px) and (max-width:767px) and (orientation: landscape)
        {
            font-size: 1rem;
            margin-top: 0.5vh;
            margin-bottom: 0.5vh;
            height: 8vh;
            
        }
    
        @media (min-width: 480px) and (max-width:864px) and (orientation: landscape) //modo landscape celulares xl
        {
            font-size: 1.2rem;
            margin-top: 0.5vh;
            margin-bottom: 1vh;
            
        }

    } 
   
}




